body {
    background: linear-gradient(135deg, #540085, black, darkblue);
    background-size: 300% 300%;
    animation: moveGradient 12s ease-in-out infinite;
}
@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.title-score-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    font-family: 'Roboto';
    font-size: 1.25rem;
    font-weight: 800;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);   
}
.game-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 100%;
}
.card-container {
    background: linear-gradient(90deg, #99ccff, #cc99ff, #99ffcc);
    background-size: 300% 300%;
    animation: backgroundMove 12s ease infinite;
    border-radius: 10px;
    flex-basis: calc(25% - 20px); 
    height: 300px;
    margin-bottom: 20px;
    box-sizing: border-box; 
}

@keyframes backgroundMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.pokemon-image {
    width: 65%;
    height: 65%;
    padding-left: 20%;
    padding-top: 13%;
    align-items: center;
}

.pokemon-name {
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding-bottom: 20%;
    text-align: center;
}

.instruction-text {
    font-family: 'Roboto';
    font-size: 1.25rem;
    font-weight: 800;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}

@media (max-width: 1024px) {
    .card-container {
        flex-basis: calc(33.33% - 20px); 
    }
}
@media (max-width: 768px) {
    .card-container {
        flex-basis: calc(50% - 20px); 
    }
}
@media (max-width: 480px) {
    .card-container {
        flex-basis: 100%; 
    }

    .pokemon-name {
        font-size: 1.2rem;
    }
}
